<section id="about-me">
  <div class="about-me-image">
    <img
      alt=""
      src="https://i.pinimg.com/736x/d3/c4/66/d3c466e3c4845ebff7bbabf4eecaa1b6.jpg"
    />
  </div>
  <div class="about-me-text">
    <h1>
      Vanessa Strub,<br /><mark>UX designer</mark>
      spécialisée en <mark>accessibilité numérique</mark>
    </h1>
    <p>
      Je vous aide à concevoir des solutions numériques accessibles et
      intuitives, adaptées aux besoins de tous.
    </p>
  </div>
</section>

<style>
  #about-me {
    margin-top: 50px;
    display: flex;
    gap: 50px;
  }

  .about-me-image {
    flex: 1;
  }

  .about-me-image img {
    /* max-width: 100%;
      max-height: 100%; */
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    aspect-ratio: 1;
    border: 5px solid var(--accent-color);
  }

  .about-me-text {
    flex: 2;
  }

  p {
    margin-top: 20px;
    font-size: 1.8em;
    line-height: 140%;
    /* font-family: "Arial"; */
  }
</style>
