---
import { Image } from "astro:assets";
import vanessaPortraitImage from "../../assets/images/vanessa-portrait-34.jpg";
---

<section id="about-me">
  <div class="about-me-image">
    <Image alt="" src={vanessaPortraitImage} />
  </div>
  <div class="about-me-text">
    <h1>
      Vanessa Strub,<br /><mark>UX designer</mark>
      spécialisée en <mark>accessibilité numérique</mark>
    </h1>
    <p>
      Je vous aide à concevoir des solutions numériques accessibles et
      intuitives, adaptées aux besoins de tous.
    </p>
  </div>
</section>

<style lang="scss">
  @import "../../styles/breakpoints.scss";

  #about-me {
    margin-top: 40px;
    display: flex;
    gap: 50px;
  }

  .about-me-image {
    flex: 1;
  }

  .about-me-image img {
    /* max-width: 100%;
      max-height: 100%; */
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50px 0px 50px 0px;
    aspect-ratio: 3 / 4;
  }

  .about-me-text {
    flex: 3;
  }

  p {
    margin-top: 20px;
    font-size: 2.5em;
    line-height: 140%;
    /* font-family: "Arial"; */
  }

  @media (max-width: $breakpoint-small-desktop - 1px) {
    #about-me {
      font-size: 12px;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      text-align: center;
    }

    .about-me-image {
      flex: none;
    }
    .about-me-image img {
      height: 180px;
      width: 180px;
      object-position: 50% 20%;
    }
  }

  @media (max-width: $breakpoint-tablet - 1px) {
    #about-me {
      font-size: 11px;
    }
  }

  @media (max-width: $breakpoint-mobile - 1px) {
    #about-me {
      font-size: 10px;
    }
  }
</style>
