---
import PortfolioLayout from "../layouts/PortfolioLayout.astro";
---

<PortfolioLayout>
  <section id="approach">
    <h1>Accessibilité numérique</h1>
    <h2>Audit RGAA</h2>
    <p>
      Je suis spécialisée en accessibilité numérique, en particulier dans la
      réalisation d’audits de conformité RGAA. J’évalue les sites web et les
      applications pour identifier les problèmes d'accessibilité et rédige des
      rapports d'audit détaillant les obstacles rencontrés, ainsi que des
      solutions concrètes pour les résoudre. Mon expertise me permet
      d’intervenir à différentes étapes d’un projet, en conseillant sur les
      bonnes pratiques d’accessibilité.
    </p>
    <h3>Pour commencer: L'audit de conformité</h3>
    <p>
      Je vérifie la conformité de votre site ou application selon les
      référentiels adaptés (RGAA 4, RAAM).
    </p>
    <p>Ce que vous obtenez:</p>
    <ul>
      <li>
        Le taux de conformité de votre produit, avec le détail pages par pages
      </li>
      <li>
        Un rapport d'audit détaillé avec des recommendations claires pour chaque
        critère non conforme
      </li>
      <li>Une déclaration d'accessibilité prête à être publiée</li>
    </ul>

    <h3>Pour un suivi complet: audit de conformité + audit de recette</h3>
    <p>
      En complément de l’audit de conformité, un deuxième audit est réalisé pour
      vérifier les corrections et mettre à jour votre taux de conformité
    </p>
    <p>Ce que vous obtenez:</p>
    <ul>
      <li>
        Tout les livrables de l'audit de conformité de base (taux de conformité,
        rapport d'audit et déclaration d'accessibilité)
      </li>
      <li>Le rapport d'audit mis à jour</li>
      <li>La déclaration d'accessibilité mise à jour</li>
    </ul>

    <h3 id="audit-combine">
      Pour une analyse approfondie: Audit combiné UX et accessibilité
    </h3>
    <p>
      Pour répondre à des besoins complets, je propose un audit mixte intégrant
      à la fois une analyse UX et une évaluation d’accessibilité. Ce type
      d’audit offre une vision globale des améliorations nécessaires pour
      optimiser l’expérience utilisateur tout en garantissant l’accès à tous.
    </p>

    <h3>Pour un besoin ponctuel</h3>
    <p>
      J'analyse pour vous un composant, un parcours utilisateur spécifique (par
      exemple un processus de commande ou de connexion), une page seule, des
      wireframes et éléments graphiques en cours de projet etc.
    </p>

    <h3>Audit de certification simple</h3>
    <p>
      Je réalise un audit de conformité vous permettant d'obtenir uniquement la
      déclaration de conformité à afficher sur votre site (sans rapport détaillé
      et sans réunion de restitution).
    </p>

    <h2>Ma méthodologie</h2>
    <p>Les audits se déroulent en plusieurs phases, selon votre besoin:</p>

    <ul>
      <li>
        Réunion de préparation pendant laquelle nous discutons ensemble de votre
        besoin, vos objectifs, le niveau de maturité de votre équipe sur
        l'accessibilité, la mise en place ou non d'un accompagnement
      </li>
      <li>
        Définition de l'échantillon de pages à auditer et étude des dérogations
        si nécessaire
      </li>
      <li>Réalisation de l'audit</li>
      <li>
        Réunion de restitution, avec remise de la grille technique de l'audit et
        du rapport
      </li>
    </ul>

    <h2>Pourquoi réaliser un audit d'accessibilité?</h2>
    <p>
      L’accessibilité numérique vise à permettre à toute personne, quelle que
      soit sa situation, d’utiliser efficacement des outils numériques comme des
      sites web, applications ou documents PDF. Elle répond à des enjeux
      sociétaux, légaux et économiques, en favorisant une utilisation équitable
      et en améliorant l’expérience utilisateur pour tous.
    </p>
    <p>
      Ce n’est pas seulement une obligation légale ou un levier de performance,
      c’est avant tout une démarche humaine. Elle repose sur un principe
      fondamental : garantir à chaque personne, quels que soient ses besoins ou
      ses capacités, un accès équitable à l’information et aux services
      numériques.
    </p>
    <p>En rendant votre site ou application accessible, vous :</p>
    <ul>
      <li>
        Répondez à des besoins réels : 15 % de la population mondiale vit avec
        un handicap, et ce chiffre inclut des utilisateurs aux besoins variés
        (déficience visuelle, auditive, motrice ou cognitive). L’accessibilité
        leur permet de naviguer, interagir et s’informer de manière autonome.
      </li>
      <li>
        Améliorer la qualité globale : un site accessible est souvent plus
        ergonomique et mieux référencé.
      </li>
      <li>
        Créez un impact durable : Investir dans l’accessibilité, c’est concevoir
        des outils universels, intuitifs et respectueux des diversités humaines.
      </li>
    </ul>

    <h2>Obligations légales en France</h2>
    <p>
      L’accessibilité numérique en France est régie par plusieurs obligations
      légales, notamment :
    </p>
    <ul>
      <li>
        La loi pour une République numérique (2016), qui impose la conformité
        des sites publics et privés aux critères d’accessibilité, sous peine de
        sanctions.
      </li>
      <li>
        L’article 47 de la loi sur l’égalité des droits et des chances, la
        participation et la citoyenneté des personnes handicapées, qui impose
        des exigences similaires pour les sites et applications des
        établissements publics.
      </li>
      <li>
        La Directive européenne 2019/882, également connue sous le nom de
        Directive sur l’accessibilité des produits et services, qui impose aux
        États membres de l’Union européenne de veiller à ce que leurs produits
        et services soient accessibles, y compris en ligne. Cette directive
        renforce les obligations pour les entreprises qui commercialisent des
        services ou des produits numériques en Europe.
      </li>
    </ul>
    <img
      width="200px"
      alt=""
      src="https://i.pinimg.com/1200x/49/3d/ac/493dacf94b1e7938c88ebb9b531a298b.jpg"
    />
  </section>
</PortfolioLayout>
