---
import PortfolioLayout from "../layouts/PortfolioLayout.astro";
---

<PortfolioLayout>
  <section id="approach">
    <h1>Accessibilité</h1>
    <div class="approach-item">
      <p>
        Donner ici des exemples des problèmes que peut résoudre l'ux design, et
        ensuite les livrables associés
      </p>
      <img
        width="200px"
        alt=""
        src="https://i.pinimg.com/1200x/49/3d/ac/493dacf94b1e7938c88ebb9b531a298b.jpg"
      />
    </div>
  </section>
</PortfolioLayout>
