---
import PortfolioLayout from "../layouts/PortfolioLayout.astro";
---

<PortfolioLayout>
  <section id="approach">
    <h1>UX Design</h1>
    <div class="approach-item">
      <p>Texte d'intro</p>
      <img
        width="200px"
        alt=""
        src="https://i.pinimg.com/1200x/49/3d/ac/493dacf94b1e7938c88ebb9b531a298b.jpg"
      />
      <h2>Mes compétences</h2>

      <h3>Audit ergonomique</h3>
      <p>
        Je réalise des audits ergonomiques approfondis en analysant vos
        interfaces à l’aide de critères ergonomiques reconnus, comme les
        heuristiques de Nielsen. Mon objectif est d’identifier les obstacles à
        l’efficacité, à l’accessibilité et à la facilité d’usage, et de proposer
        des améliorations pour optimiser l’expérience utilisateur.
      </p>
      <p>
        Pour un audit complet, je peux également analyser l'accessibilité de
        votre produit, quel que soit son stade de développement.
        <a href="/accessibilite#audit-combine">
          Plus de détails sur les audits combinés ux et accessibilité</a
        >
      </p>

      <h3>Benchmark</h3>
      <p>
        Les benchmarks UX permettent d'analyser et de comparer les interfaces de
        produits ou services concurrents ou similaires, d’identifier les bonnes
        pratiques et de détecter des opportunités d’amélioration.
      </p>

      <h3>UX Mapping</h3>
      <p>
        Je conçois des cartographies UX, comme les parcours utilisateurs ou les
        cartes d'expérience, pour visualiser le parcours complet des
        utilisateurs à travers un produit ou un service. Ces outils me
        permettent d’identifier les points de friction et de proposer des
        solutions pour améliorer l’expérience globale.
      </p>

      <h3>Etude utilisateurs</h3>
      <p>
        Je mène des études utilisateurs en utilisant différentes méthodes de
        recherche, telles que les interviews, les enquêtes et les tests
        utilisateurs. Cela me permet de comprendre les besoins, comportements et
        attentes des utilisateurs finaux afin d’adapter les interfaces en
        fonction de leurs exigences.
      </p>

      <h3>Wireframes et Prototypes</h3>
      <p>
        Je crée des prototypes, allant des wireframes aux modèles haute
        fidélité, pour tester rapidement des concepts et itérer en fonction des
        retours utilisateurs. Ces prototypes interactifs me permettent de
        valider les parcours utilisateurs avant le développement.
      </p>

      <h2>Exemple de problèmes à résoudre</h2>

      <h3>Navigation difficile et parcours utilisateur confus</h3>
      <p>
        <strong>Problème: </strong>Les utilisateurs se perdent dans votre site
        ou application en raison d’une architecture de l’information mal conçue.
        Cela entraîne une mauvaise expérience, une frustration et une baisse de
        la conversion.
      </p>
      <p>
        <strong>Solution UX: </strong>Repenser la structure du site et clarifier
        les parcours utilisateurs avec une architecture de l'information
        intuitive. Des wireframes et des prototypes interactifs sont créés pour
        tester et affiner les parcours avant le développement.
      </p>
      <p><strong>Exemple de livrables associés: </strong></p>
      <ul>
        <li>Cartographie des flux utilisateurs</li>
        <li>Architecture de l'information</li>
        <li>Wireframes (basse fidélité)</li>
        <li>Prototypes interactifs</li>
      </ul>

      <h3>Manque de compréhension des besoins utilisateurs</h3>
      <p>
        <strong>Problème: </strong>Votre produit ne répond pas de manière
        optimale aux attentes des utilisateurs, car les besoins réels n'ont pas
        été identifiés ni correctement analysés.
      </p>
      <p>
        <strong>Solution UX: </strong>Mettre l'accent sur la recherche
        utilisateur afin de comprendre les besoins, motivations et comportements
        des utilisateurs. Par le biais d'entretiens, de questionnaires et de
        tests utilisateurs, nous pouvons collecter des données qualitatives et
        quantitatives pour guider la conception du produit.
      </p>
      <p><strong>Exemple de livrables associés: </strong></p>
      <ul>
        <li>Protocole de recherche utilisateur</li>
        <li>Résultats d’entretiens et d'études</li>
        <li>Personas</li>
        <li>Cartographie de l’expérience utilisateur (customer journey map)</li>
      </ul>

      <h3>Manque d'intuitivité dans l'utilisation des fonctionnalités</h3>
      <p>
        <strong>Problème: </strong>Les utilisateurs ont du mal à utiliser
        certaines fonctionnalités, faute d'une interface claire ou d'une logique
        d'interaction cohérente. Cela engendre des erreurs et un abandon
        prématuré de l'utilisation.
      </p>
      <p>
        <strong>Solution UX: </strong>Simplifier et clarifier l'interaction avec
        les fonctionnalités grâce à une interface intuitive. Nous pouvons pour
        cela créer des prototypes interactifs et mener des tests pour itérer et
        optimiser les fonctionnalités, assurant ainsi une meilleure prise en
        main par les utilisateurs.
      </p>
      <p><strong>Livrables associés: </strong></p>
      <ul>
        <li>Prototypes interactifs</li>
        <li>Tests d’utilisabilité</li>
      </ul>

      <h2>Vous avez un problème d'UX à résoudre? Discutons-en!</h2>
      <p>
        <a href="projets.html">Voici quelques exemples de cas résolus</a>
      </p>
    </div>
  </section>
</PortfolioLayout>
