---
import PortfolioLayout from "../../layouts/PortfolioLayout.astro";
---

<PortfolioLayout>
  <h1>Projets</h1>

  <section id="projet1">
    <h2><a href="/projets/projet-1">Projet 1</a></h2>
    <p>Catégorie: ux design</p>
    <div class="projet-item">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quam
        massa, tincidunt id eleifend in, ornare fringilla metus. Interdum et
        malesuada fatmes ac ante ipsum primis in faucibus.
      </p>
      <img
        width="200px"
        alt=""
        src="https://i.pinimg.com/1200x/49/3d/ac/493dacf94b1e7938c88ebb9b531a298b.jpg"
      />
    </div>
  </section>

  <section id="projet2">
    <h2>Projet 2</h2>
    <p>Catégorie: Accessibilité</p>
    <div class="projet-item">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quam
        massa, tincidunt id eleifend in, ornare fringilla metus. Interdum et
        malesuada fatmes ac ante ipsum primis in faucibus.
      </p>
      <img
        width="200px"
        alt=""
        src="https://i.pinimg.com/736x/d4/d0/1f/d4d01fa862bb81021bff1555c4a6784d.jpg"
      />
    </div>
  </section>
</PortfolioLayout>
