---
import PortfolioLayout from "../../layouts/PortfolioLayout.astro";
---

<PortfolioLayout>
  <h1>Projet 1</h1>

  <p>Catégorie: ux design</p>

  <div class="projet-item">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quam
      massa, tincidunt id eleifend in, ornare fringilla metus. Interdum et
      malesuada fatmes ac ante ipsum primis in faucibus.
    </p>
    <img
      width="200px"
      alt=""
      src="https://i.pinimg.com/1200x/49/3d/ac/493dacf94b1e7938c88ebb9b531a298b.jpg"
    />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quam
      massa, tincidunt id eleifend in, ornare fringilla metus. Interdum et
      malesuada fatmes ac ante ipsum primis in faucibus.
    </p>
    <img
      width="200px"
      alt=""
      src="https://i.pinimg.com/736x/02/fb/c8/02fbc8a69b9fc19e08deaccc7618145b.jpg"
    />
  </div>
</PortfolioLayout>
